ul(class="nav nav-justified")
	li(class="active")
	  a(href='/termo/novo') Novo termo
	li
		a(href="/") Inserir
	li
		a(href="/") Usuários
	li
		a(href="/") Entrar em contato
	li
		a(href="/logout") #{session.email} [sair]
