extends layout

block content
    .jumbotron  

         h1=titulo
    if mensagem
        if sucesso       
            .alert.alert-success=mensagem
        else
            .alert.alert-danger=mensagem
    
      .row
        .container
          .col-md-6.col-md-push-3            
            p.lead
            .alert.alert-.danger(role='alert', class='') 
            form(role='form', action="/login",method="post", style='max-width: 300px;')
                .form-group
                input.form-control(type='text', name="email", placeholder='Informe seu email',required="true")
                .form-group
                input.form-control(type='password', name="password", placeholder='Digite sua senha',required="true")
                br
                button.btn.btn-primary Entre..aqui
                &nbsp;              
                a#button.btn.btn-primary(href='/') Cancelar

